Options -MultiViews
RewriteEngine On
RewriteBase /

# Ne pas réécrire les fichiers/dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout le reste → index.html
RewriteRule ^ index.html [L]